<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MY APP</title>
    </head>
    <body>

        <h2> Delete Item </h2>

        <table>
            <tr>
              <th>Item</th>
              <th>Category</th>
              <th>Possession</th>
              <th>Condition</th>
              <th>Qty</th>
            </tr>
                <tr>
                    <td><%= data[0].itemdesc %></td>
                    <td><%= data[0].category %></td>
                    <td><%= data[0].possession %></td>
                    <td><%= data[0].condition %></td>
                    <td><%= data[0].qty %></td>
                </tr>            
        </table>
        <form method="post" action="/delete_confirm">
            <input type="number" name="id" value="<%= data[0].itemid %>" hidden>
            <input type = "submit"  Value = "Delete">
        </form>
        <form method="get" action="/">
            <input type = "submit"  Value = "Cancle">
        </form>
        <a href="/">Return</a>
    </body>
</html>