<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

     <!-- FontAwesome Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles.css" />
    <% const zeroPad = (num, places) => String(num).padStart(places, '0');%>
    <title>CTM Equipment Management</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Side Nav bar -->
        <div class="bg-success" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">CTM Equipment<br> Management</div>
            <div class="list-group list-group-flush my-3">
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-user me-2"></i>Profile</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-gift me-2"></i>Inventory</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-users me-2"></i>User Management</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Location Log</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <% if(!isAuthenticated) { %>
                            <a class="nav-link second-text fw-bold" href="/login">Login</a>
                        <% } else { %>
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>
                                <%= user.nickname %>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        <% } %> 
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Add Equipment page -->

             <div class="container mt-5 mx-auto col-10 col-md-8 col-lg-6"> 
                <h3 class="fs-4 mb-3">Add Equipment</h3>

                <form action="/inventory/add" method="POST" onkeydown="return event.key != 'Enter';">
                  
                <% var data = data || [{item_desc: '', category: '', purchase_date: new Date(), condition: '', item_qty: '', user_id: '', current_address: '', previous_address: '', keywords: ''}] %>

                <div class="form-group col-md-6">
                  <label for="itemdesc">Item:</label>
                  <input type="text" id="item_desc" name="item_desc" value="<%= data[0].item_desc%>">
                </div><br/>
                
                <div class="form-group col-md-6">
                  <label for="category">Category:</label>
                  <input type="text" id="category" name="category"  value="<%= data[0].category%>">
                </div><br/>

                    <div class="mb-3">
                      <label for="purchase_date">Purchase Date:</label>
                      <input id="purchase_date" name="purchase_date" class="form-control" type="date" value="<%= (data[0].purchase_date != '') ? `${data[0].purchase_date.getFullYear()}-${zeroPad((data[0].purchase_date.getMonth()+1),2)}-${zeroPad((data[0].purchase_date.getDate()),2)}` : '' %>">
                    </div>
            
                    <div class="form-group col-md-6">
                        <label for="condition">Condition:</label>
                         <select id="condition" name="condition" class="form-control">
                            <option value="" <%= (data[0].condition === "") ? "selected" : null %>>Not assigned</option>
                            <option value="New" <%= (data[0].condition === "New") ? "selected" : null %>>New</option>
                            <option value="Used" <%= (data[0].condition === "Used") ? "selected" : null %>>Used</option>
                            <option value="Broken" <%= (data[0].condition === "Broken") ? "selected" : null %>>Broken</option>
                          </select>
                      </div><br/>

                      <div class="form-group col-md-6">
                        <label for="quantity">Quantity:</label>
                        <input type="text" class="form-control" id="item_qty" name="item_qty" placeholder="Quantity" value="<%= data[0].item_qty%>">
                      </div><br/>

                      <div class="form-group col-md-6">
                        <label for="user_id">Assigned to:</label>
                         <select id="user_id" name="user_id" class="form-control">
                          <option value="">Not assigned</option>
                          <% for(var i = 0; i < users.length; i++){
                            var selected = "";
                            if (data[0].user_id === users[i].user_id){ selected = "selected"};%>
                            <option value="<%=users[i].user_id%>" <%= selected %> ><%= users[i].first_name %> <%= users[i].last_name %></option>
                          <% } %>
                          </select>
                      </div><br/>

                       <!-- Add Location Modal -->
                       <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#address-form" id="address_btn" onclick="saveData()">New Location</button>

                      <div class="form-group mb-3">
                          <label for="locationAdd" class="form-label">Current Location</label>
                          <input class="form-control" id="currentLocation-search" placeholder="Type to search..." onkeyup="filterCurrent()">
                          <div id="currentOptions">

                            <% for(var i = 0; i < address.length; i++) {
                              var addressStr =  address[i].street_line_1
                              var checked = ''
                              var display = ''
                              if (address[i].street_line_2 !== null){
                                addressStr += ' ' + address[i].street_line_2
                              }
                              addressStr += ', ' + address[i].city + ', ' + address[i].state + ', ' + address[i].postcode
                              if(address[i].country !== null){
                                addressStr += ', ' + address[i].country
                              }
                              if(address[i].address_id === data[0].address_id){
                                checked = 'checked'
                                display = '-checked'
                              }
                              %>
                              <input type="radio" class="address-radio<%= display%>" name="current_address" value="<%= address[i].address_id %>" id="c-<%= address[i].address_id %>"  <%= checked %> >
                              <label class="address-option<%= display%>" for="c-<%= address[i].address_id %>" ><%= addressStr %></label>
                              <% } %>
                          </div>
                        </div>
                            
                        <div class="form-group mb-3">
                            <label for="previousLocation" class="form-label">Previous Location</label>
                            <input class="form-control" id="previousLocation-search" placeholder="Type to search..." onkeyup="filterPrevious()">
                            <div id="previousOptions">
                              
                                <% for(var i = 0; i < address.length; i++) {
                                var addressStr =  address[i].street_line_1
                                var checked = ''
                                var display = ''
                                if (address[i].street_line_2 !== null){
                                  addressStr += ' ' + address[i].street_line_2
                                }
                                addressStr += ', ' + address[i].city + ', ' + address[i].state + ', ' + address[i].postcode
                                if(address[i].country !== null){
                                  addressStr += ', ' + address[i].country
                                }
                                if(address[i].address_id === data[0].address_id){
                                  checked = 'checked'
                                  display = '-checked'
                                }
                                %>
                                <input type="radio" class="address-radio<%= display%>" name="previous_address" value="<%= address[i].address_id %>" id="p-<%= address[i].address_id %>"  <%= checked %> >
                                <label class="address-option<%= display%>" for="p-<%= address[i].address_id %>" ><%= addressStr %></label><% } %>
                            </div>
                        </div>       

                      <div class="form-group col-md-6">
                        <label for="keywords">Keywords:</label>
                        <textarea class="form-control" id="keywords" rows="5"><%= data[0].keywords %></textarea>
                        <p class="keywords">Separate keywords with commas</p>
                      </div>

                  <div class="mx-auto col-10 col-md-8 col-lg-6">
                    <button type="submit" class="btn btn-success text" >Submit</button>
                    <button type="button" href="/" class="btn btn-secondary">Inventory</button>
                  </div>
                </form>
                <form class="modal fade" id="address-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" method="POST" action="/inventory/add/address" onkeydown="return event.key != 'Enter';">
                  <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="new_address">Add New Location</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" ></button>

                      </div>
                      <input type="hidden" name="item_desc_re" id="item_desc_re">
                      <input type="hidden" name="category_re" id="category_re">
                      <input type="hidden" name="purchase_date_re" id="purchase_date_re">
                      <input type="hidden" name="condition_re" id="condition_re">
                      <input type="hidden" name="item_qty_re" id="item_qty_re">
                      <input type="hidden" name="user_id_re" id="user_id_re">
                      <input type="hidden" name="current_address_re" id="current_address_re">
                      <input type="hidden" name="previous_address_re" id="previous_address_re">
                      <input type="hidden" name="keywords_re" id="keywords_re">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="street_line">Street Line 1:</label>
                            <input type="text" class="form-control" name="street_line_1" id="street_line_1" placeholder="123 Smith st ">
                        </div>
                        <br>
                        <div class="form-group">
                          <label for="street_line_2">Street Line 2:</label>
                          <input type="text" class="form-control" name="street_line_2" id="street_line_2" placeholder=" ">
                      </div>
                      <br>

                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" name="city" id="city" placeholder="Melbourne" >
                      </div>
                      <br>

                    <div class="form-group">
                        <label for="city">State:</label>
                        <input type="text" class="form-control" name="state" id="state" placeholder="Vic" >
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="country">Country:</label>
                        <input type="text" class="form-control" name="country" id="country" placeholder="Australia" >
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="postcode">Postcode:</label>
                        <input type="text" class="form-control" name="postcode" id="postcode" placeholder="3000" >
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
                      <button type="submit" class="btn btn-success" formaction="/inventory/add/address">Add</button>
                      </div>
                  </div>
                  </div>
              </form>

                
            </div>

        
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");
    
    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    }; 
    
    var modal = document.getElementById("address-form");

    // Get the button that opens the modal
    var btn = document.getElementById("address_btn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
      document.getElementById("item_desc_re").value = document.getElementById("item_desc").value;
      document.getElementById("category_re").value = document.getElementById("category").value || '';
      document.getElementById("purchase_date_re").value = document.getElementById("purchase_date").value || '';
      document.getElementById("condition_re").value = document.getElementById("condition").value || '';
      document.getElementById("item_qty_re").value = document.getElementById("item_qty").value || '';
      document.getElementById("user_id_re").value = document.getElementById("user_id").value || '';
      var current_address = '';
      var c_add = document.getElementById("currentOptions");
      var c_radio = div.getElementsByTagName("input");
      for (i = 0; i < c_radio.length; i++) {
        if(c_radio[i].ischecked){
          current_address = c_radio[i].value;
          break;
        }
      }
      var previous_address = '';
      var p_add = document.getElementById("previousOptions");
      var p_radio = div.getElementsByTagName("input");
      for (i = 0; i < p_radio.length; i++) {
        if(p_radio[i].ischecked){
          previous_address = p_radio[i].value;
          break;
        }
      }
      document.getElementById("current_address_re").value = current_address;
      document.getElementById("previous_address_re").value = previous_address;
      document.getElementById("keywords_re").value = document.getElementById("keywords").value || '';
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    } 


    function filterCurrent() {
      var input, filter, ul, li, a, i, match;
      input = document.getElementById("currentLocation-search");
      if(input.value === "") {return;}
      filter = input.value.toUpperCase();
      div = document.getElementById("currentOptions");
      a_label = div.getElementsByTagName("label");
      a_radio = div.getElementsByTagName("input");
      match = 0;
      for (i = 0; i < a_label.length; i++) {
        if (match > 5){ 
          for (i = 0; i < a_label.length; i++) {
            if(a_radio[i].ischecked){
              a_radio[i].style.display = "inline";
              a_label[i].style.display = "inline";
            }
            else{
              a_radio[i].style.display = "none";
              a_label[i].style.display = "none";
            }
          }
          break; 
        }
        txtValue = a_label[i].textContent || a_label[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a_radio[i].style.display = "inline";
          a_label[i].style.display = "inline";
          match += 1;
        } else {
          if(a_radio[i].checked){
            a_radio[i].style.display = "inline";
            a_label[i].style.display = "inline";
          }
          else{
            a_radio[i].style.display = "none";
            a_label[i].style.display = "none";
          }
        }
      }
    } 

    function filterPrevious() {
      var input, filter, ul, li, a, i, match;
      input = document.getElementById("previousLocation-search");
      if(input.value === "") {return;}
      filter = input.value.toUpperCase();
      div = document.getElementById("previousOptions");
      a_label = div.getElementsByTagName("label");
      a_radio = div.getElementsByTagName("input");
      match = 0;
      for (i = 0; i < a_label.length; i++) {
        if (match > 5){ 
          for (i = 0; i < a_label.length; i++) {
            if(a_radio[i].ischecked){
              a_radio[i].style.display = "inline";
              a_label[i].style.display = "inline";
            }
            else{
              a_radio[i].style.display = "none";
              a_label[i].style.display = "none";
            }
          }
          break; 
        }
        txtValue = a_label[i].textContent || a_label[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a_radio[i].style.display = "inline";
          a_label[i].style.display = "inline";
          match += 1;
        } else {
          if(a_radio[i].checked){
            a_radio[i].style.display = "inline";
            a_label[i].style.display = "inline";
          }
          else{
            a_radio[i].style.display = "none";
            a_label[i].style.display = "none";
          }
        }
      }
    } 
    </script>
    
</body>

</html>