<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />

     <!-- FontAwesome Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/styles.css" />
    <title>CTM Equipment Management</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Side Nav bar -->
        <div class="bg-success" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">CTM Equipment<br> Management</div>
            <div class="list-group list-group-flush my-3">
                <a href="/" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-user me-2"></i>Profile</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-gift me-2"></i>Inventory</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-users me-2"></i>User Management</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Location Log</a>
                <a href="/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <% if(!isAuthenticated) { %>
                                <a class="nav-link second-text fw-bold" href="/login">Login</a>
                            <% } else { %>
                                <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user me-2"></i>
                                    <%= user.nickname %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            <% } %> 
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid px-4">

                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Equipment</h3>
                    <div class="col">
                        <a href="/inventory/add" class="btn btn-success mb-3"> <i class="fa-solid fa-plus"></i> Add Equipment</a>
                        <div class="input-group mb-3" style="max-width: 20%;">
                            <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
                            <input type="text" class="form-control" id="search-input" onkeyup="search()" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <table class="table bg-white rounded shadow-sm  table-hover">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">ID</th>
                                    <th scope="col" width="200">Item</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Condition</th>
                                    <th scope="col"width="100">Quantity</th>
                                    <th scope="col">Assigned to</th>
                                    <th scope="col">Current Address</th>
                                    <th scope="col" width="150">Actions</th>
                                    
                                </tr>
                            </thead>
                            <tbody id="item-list">
                              <!-- Loop through fetched data and build the inventory list -->
                                <% if (data != null) {for(var i = 0; i < data.length; i++) {
                                    var c_address =  data[i].c_street_line_1
                                    if (data[i].c_street_line_2 !== null){
                                        c_address += ' ' + data[i].c_street_line_2
                                    }
                                    c_address += ', ' + data[i].c_city + ', ' + data[i].c_state + ', ' + data[i].c_postcode
                                    if(data[i].c_country !== null){
                                        c_address += ' ' + data[i].c_country
                                    }
                                    %>
                                  <tr class="item-row">
                                    <td><%= data[i].item_id %></td>
                                    <td><%= data[i].item_desc %></td>
                                    <td><%= data[i].category %></td>
                                    <td><%= data[i].condition %></td>
                                    <td><%= data[i].item_qty %></td>
                                    <td><%= data[i].first_name + " " + data[i].last_name %></td>
                                    <td><%= c_address %></td>
        
                                    <td>
                                        <!-- view button -->
                                        <a href="/inventory/viewone/<%= data[i].item_id %>" class="link-dark"><i class="fa-solid fa-eye fs-5 me-3" ></i></a>
                                        <!-- pen button -->
                                        <a href="/inventory/edit/<%= data[i].item_id %>" class="link-dark"><i class="fa-solid fa-pen-to-square fs-5 me-3"></i></a>
                                        <!-- trash  button-->
                                        <a href="/inventory/delete/<%= data[i].item_id %>" class="link-dark"><i class="fa-solid fa-trash fs-5"></i></a>
                                    </td>
                                    <td hidden><%= data[i].keywords %></td>
                                  </tr>
                                <% } }%>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");
    
    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    }; 

    // Live search function
    // Taken from https://www.w3schools.com/howto/howto_js_filter_lists.asp
    function search() {
    // Declare variables
    var input, filter, list, tr, td, i, txtValue;
    input = document.getElementById('search-input');
    filter = input.value.toUpperCase();
    list = document.getElementById("item-list");
    tr = list.getElementsByTagName('tr');
    //hides all elements
    for (i = 0; i < tr.length; i++) {
        if(filter != ''){
        tr[i].style.display = 'none';
        }
        else{
        tr[i].style.display = '';
        }
    };
    if(filter === ''){return;}

    // Loop through all list items, and shows those who do match the search query
    for (i = 0; i < tr.length; i++) {
        // Currently searches by item_desc
        row = tr[i].getElementsByTagName("td");
        console.log(row[1].innerText);
        for(j = 0; j < row.length; j++){
        txtValue = row[j].innerText;
        console.log(filter)
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        } 
        }
    }}
    </script>
    
</body>

</html>