<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

     <!-- FontAwesome Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/styles.css" />
    <title>CTM Equipment Management</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Side Nav bar -->
        <div class="bg-success" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">CTM Equipment<br> Management</div>
            <div class="list-group list-group-flush my-3">
                <a href="/" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-user me-2"></i>Profile</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-gift me-2"></i>Inventory</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-users me-2"></i>User Management</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Location Log</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">User Management</h2>
                </div>

                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <% if(!isAuthenticated) { %>
                                <a class="nav-link second-text fw-bold" href="/login">Login</a>
                            <% } else { %>
                                <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user me-2"></i>
                                    <%= user.nickname %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            <% } %> 
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid px-10">
              <div class="container mt-5 mx-auto col-10 col-md-8 col-lg-6">
                <h3 class="fs-10 mb-3">Edit User</h3>
                <div class="col">
                  <form method="post" action="/edit_user">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="number" name="id" value="<%= data[0].user_id %>" hidden>
                        <div class="form-group">
                          <label for="username">User Name:</label>
                          <input type="text" id="username" name="username" value="<%= data[0].user_name%>" class="form-control">
                        </div><br />
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="role">User Role:</label>
                          <input type="text" id="role" name="role"  value="<%= data[0].role%>" class="form-control">
                        </div>
                      </div><br />
                    </div>
                    <div class="form-group">
                      <label for="address">Address:</label>
                      <input type="text" id="address" name="address"  value="<%= data[0].address%>" class="form-control">
                    </div><br />
                    <div class="form-group">
                      <label for="phonenumber">Phone Number:</label>
                      <input type="text" id="phonenumber" name="phonenumber"  value="<%= data[0].phone_number%>" class="form-control">
                    </div><br /> 
                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex justify-content-around">
                          <button type="submit" class="btn btn-success">Submit</button>
                          <a href="/users/viewall_users" class="btn btn-success" style="text-decoration: none; color: white;">Back</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");
    
    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    }; 
    
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
          var output = document.getElementById('preview');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    function filterCurrent() {
      var input, filter, ul, li, a, i, match;
      input = document.getElementById("currentLocation-search");
      if(input.value === "") {return;}
      filter = input.value.toUpperCase();
      div = document.getElementById("currentOptions");
      a_label = div.getElementsByTagName("label");
      a_radio = div.getElementsByTagName("input");
      match = 0;
      for (i = 0; i < a_label.length; i++) {
        if (match > 5){ 
          for (i = 0; i < a_label.length; i++) {
            if(a_radio[i].ischecked){
              a_radio[i].style.display = "inline";
              a_label[i].style.display = "inline";
            }
            else{
              a_radio[i].style.display = "none";
              a_label[i].style.display = "none";
            }
          }
          break; 
        }
        txtValue = a_label[i].textContent || a_label[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a_radio[i].style.display = "inline";
          a_label[i].style.display = "inline";
          match += 1;
        } else {
          if(a_radio[i].checked){
            a_radio[i].style.display = "inline";
            a_label[i].style.display = "inline";
          }
          else{
            a_radio[i].style.display = "none";
            a_label[i].style.display = "none";
          }
        }
      }
    } 

    function filterPrevious() {
      var input, filter, ul, li, a, i, match;
      input = document.getElementById("previousLocation-search");
      if(input.value === "") {return;}
      filter = input.value.toUpperCase();
      div = document.getElementById("previousOptions");
      a_label = div.getElementsByTagName("label");
      a_radio = div.getElementsByTagName("input");
      match = 0;
      for (i = 0; i < a_label.length; i++) {
        if (match > 5){ 
          for (i = 0; i < a_label.length; i++) {
            if(a_radio[i].ischecked){
              a_radio[i].style.display = "inline";
              a_label[i].style.display = "inline";
            }
            else{
              a_radio[i].style.display = "none";
              a_label[i].style.display = "none";
            }
          }
          break; 
        }
        txtValue = a_label[i].textContent || a_label[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a_radio[i].style.display = "inline";
          a_label[i].style.display = "inline";
          match += 1;
        } else {
          if(a_radio[i].checked){
            a_radio[i].style.display = "inline";
            a_label[i].style.display = "inline";
          }
          else{
            a_radio[i].style.display = "none";
            a_label[i].style.display = "none";
          }
        }
      }
    } 
    </script>
</body>

</html>