

            <div class="container-fluid px-4">

                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Users</h3>
                    <div class="col">
                      <!--  <a href="#" class="btn btn-success mb-3"> <i class="fa-solid fa-plus"></i> Add User</a>-->
                        <div class="input-group mb-3" style="max-width: 20%;">
                            <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
                            <input type="text" class="form-control" id="search-input" onkeyup="search()" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        
                        <div class="row justify-content-end mt-3">
                            <div class="col-auto">
                              <a href="/users/viewall_users" class="btn btn-md btn-success">View All Users</a>
                            </div>
                        </div>                          

                        <table class="table bg-white rounded shadow-sm  table-hover">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="400">User Id</th>
                                    <th scope="col" width="400">First Name</th>
                                    <th scope="col"width="150">Last Name</th>
                                    <th scope="col"width="200">Phone Number</th>

                                    <th scope="col"width="200">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="user-list">
                                <!-- Loop through fetched data and build the user list -->
                                  <% for(var i = 0; i < data.length; i++) {%>
                                    <tr class="item-row">
                                      <th scope="row"><%= data[i].user_id %></th>
                                      <td><%= data[i].first_name %></td>
                                      <td><%= data[i].last_name %></td>
                                      <td><%= data[i].contact_no %></td>
                                                
                                      <td>
                                          <!-- view button -->
                                          <a href="/users/viewone_user/<%= data[i].user_id %>" class="link-dark"><i class="fa-solid fa-eye fs-5 me-3" ></i></a>
                                          <!-- pen button -->
                                          <a href="/users/edit_user/<%= data[i].user_id %>" class="link-dark"><i class="fa-solid fa-pen-to-square fs-5 me-3"></i></a>
                                          <!-- trash  button-->
                                          <a href="/users/delete_user/<%= data[i].user_id %>" class="link-dark"><i class="fa-solid fa-trash fs-5"></i></a>
                                      </td>
                                    </tr>
                                  <% } %>
                              </tbody>
                            
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");
    
    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    }; 

    // Live search function
    // Taken from https://www.w3schools.com/howto/howto_js_filter_lists.asp
    function search() {
    // Declare variables
    var input, filter, list, tr, td, i, txtValue;
    input = document.getElementById('search-input');
    filter = input.value.toUpperCase();
    list = document.getElementById("user-list");
    tr = list.getElementsByTagName('tr');

    // Loop through all list users, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        // Currently searches by user_desc
        td = tr[i].getElementsByTagName("td")[0];
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        } else {
        tr[i].style.display = "none";
        }
    }}
    </script>
    
</body>

</html>
<%- contentFor('title') %> 
User Management